<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">




    <bean id="op"
          class="com.antonromanov.TrackOperation">
    </bean>

    <bean id="thinker"
          class="com.antonromanov.Volunteer">

    </bean>


    <!-- Aspect -->
    <bean id="magican" class="com.antonromanov.Magician"/>
    <bean id="businessAspect" class="com.antonromanov.MyFirstAspect"/>

    <!-- DEFINING THE AOP ASPECT -->

    <aop:config>
        <aop:aspect ref="businessAspect">


            <aop:pointcut id="businessExp"
                          expression="execution(* com.antonromanov.TrackOperation*.*(..))"/>
            <aop:before
                    method="before"
                    pointcut-ref="businessExp"/>


            <!-- Перед выступлением
        <aop:before pointcut=
                            "execution(* com.tutorialspoint.Performer.perform(..))"
                    method="turnOffCellPhones" />  Перед выступлением
        <aop:after-returning pointcut=
                                     "execution(* com.tutorialspoint.Performer.perform(..))"
                             method="applaud" />  После выступления
        <aop:after-throwing pointcut=
                                    "execution(* com.tutorialspoint.Performer.perform(..))"
                            method="demandRefund" />  После неудачного выступления -->


        </aop:aspect>

        <aop:aspect ref="magican">

            <aop:pointcut id="thinking" expression="execution(*
com.antonromanov.Thinker.thinkOfSomething(String))
and args(thoughts) and bean(thinker)" />

            <aop:before
                    pointcut-ref="thinking"
                    method="interceptThoughts"
                    arg-names="thoughts" />


        </aop:aspect>
    </aop:config>


</beans>